html,
body {
    height: 100%;
}

.nav {
    background-color: #e3f2fd;
}

.container {
    height: 90%;
    justify-content: center;
    align-items: center;
}

.container-form {
  margin-left: 20%;
  margin-right: 20%;
}

.text:hover {
    cursor: default;
  }
